.about{
    /* background-color:var(--primary); */    
    background: linear-gradient(45deg, #141e30, #243b55) !important;
    padding:5%;
    color:var(--white);
}
.heading{
    color:var(--secondary);
    text-align:center;
    margin-bottom:3%;
}
.info{
    font-size: 18px;
}