.about{
    background-color:var(--primary);
    padding:5%;
    color:var(--white);
}
.heading{
    color:var(--secondary);
    text-align:center;
    margin-bottom:3%;
}
.info{
    font-size: 18px;
}