.card{
    background-color: var(--lighter-primary);
    color:var(--secondary);
}
.experience-content{
    /* background-color: var(--primary); */
    padding-top: 1%;
    background: linear-gradient(45deg, #141e30, #243b55) !important;
}
.card-title{
    margin-bottom:5%;
}
.cardtext{
    display: none;
    margin-top: 10%;
}
.card:hover .cardtext{
    display: block;
}
.card-subtitle{
    color:#fff;
}